/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(195, 100%, 30%);
    --gradient-color: linear-gradient(
        90deg,
        hsl(210, 55%, 20%),
        hsl(192, 62%, 25%)
    );
    --title-color: hsl(210, 52%, 20%);
    --text-color: hsl(210, 24%, 15%);
    --white-color: #fff;
    --body-color: hsl(210, 55%, 85%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --second-font: "Lora", serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 36px;
    height: auto;
}
.nav__logo img {
    width: 36px;
    border-radius: 10px;
}

.nav__item {
    transition: 0.5s;
}
.nav__item:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 10px 2rem;
    border: 2px solid var(--title-color);
    border-radius: 0.75rem;
    transition: 0.5s;
}

.nav__toggle,
.nav__close {
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}
.nav__button-link {
    transition: 0.5s;
}
.nav__button-link:hover {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: 0.75rem;
    transition: 0.5s;
}
.nav__button-ghost:hover {
    padding: 1rem 2.9rem;
    transition: 0.5s;
}

/* GENERAL NAV */

/* three boxes on nav bar */
#nav__button-ghost_ {
    padding: 5px 30px;
}
#nav__button-ghost_:hover {
    padding: 5px 35px;
}

/* LOGIN PAGE */
.nav__button-link {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: 0.75rem;
    transition: 0.5s;
}
.nav__button-link:hover {
    .nav__button-ghost:hover {
        padding: 1rem 2.9rem;
        transition: 0.5s;
    }
}

.login-form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}
.login-form *,
.patient-info-form * {
    font-family: "Poppins", sans-serif;
    color: #161515;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(8, 7, 16, 0.3);
}
::placeholder {
    color: #9e9c9c;
}

#submit-btn {
    margin-top: 50px;
    width: 100%;
    background-color: #0f7a73;
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
#submit-btn:hover {
    padding: 15px 0;
    transition: 0.3s;
}

.forget-password {
    float: right;
    margin-top: 10px;
}
.forget-password a {
    text-decoration: none;
    color: #161515;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 89%, 4%, 0.1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: top 0.4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
}

.nav__button-link,
.nav__button-ghost {
    display: inline-block;
    color: var(--title-color);
}

.nav__button-ghost {
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 1rem 2.5rem;
    border: 2px solid var(--title-color);
    border-radius: 0.75rem;
    transition: 0.5s;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */

/*=============== HOME ===============*/
.home {
    position: relative;
}
.home__container {
    padding-top: 8rem;
    height: 100vh;
}

.home__content {
    position: relative;
    z-index: 2;
}

.home__data {
    display: grid;
    row-gap: 0.5rem;
}

.home__subtitle {
    font-size: var(--small-font-size);
    color: var(--first-color);
    letter-spacing: 3px;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-family: var(--second-font);

    color: var(--title-color);
}
.home__description {
    margin-bottom: 2.5rem;
}

.home__button {
    display: inline-block;
    background: var(--gradient-color);
    color: var(--white-color);
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 42px 32px hsla(210, 54%, 24%, 0.5);
    transition: 0.5s;
}
.home__button:hover {
    padding: 1rem 1.5rem;
    transition: 0.5s;
}

.home__bird-1,
.home__bird-2 {
    position: absolute;
    width: 60px;
}

.home__bird-1 {
    bottom: -6rem;
    rotate: -30deg;
    transition: 0.5s;
}

.home__bird-2 {
    top: 4.5rem;
    right: 0;
    rotate: -15deg;
    transition: 0.5s;
}
.home__bird-1:hover {
    bottom: -4rem;
    rotate: -30deg;
    transition: 0.5s;
}

.home__bird-2:hover {
    bottom: -7rem;
    rotate: -354deg;
    transition: 0.5s;
}

.home__images {
    z-index: 1;
}

.home__images img {
    position: absolute;
    max-width: initial;
    width: 600px;
    left: -7rem;
    bottom: 0;
}

/* ABOUT PAGE */

.about-wrapper {
    height: 100vh;
}
.about-left {
    background-color: hsl(210, 55%, 85%);
    background-image: linear-gradient(
        -360deg,
        hsl(0, 0%, 0%) 0%,
        hsl(210, 55%, 85%) 80%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.about-left-content > div {
    background: #12192c;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;

    border-radius: 12px 12px 0 0;
}
.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    width: 80%;
}
.about-img img {
    display: block;
    width: 200px;
}
.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid grey;
}
.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons {
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    border-radius: 0 0 12px 12px;
}
.icons li {
    list-style-type: none;
    background: #1a2541;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.icons li:hover {
    background: #edffec;
    color: #000;
}
.about-right {
    background: #12192c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color: #fff;
}
.about-right h1 {
    font-size: 5rem;
    text-transform: uppercase;
}
.about-right h1 span {
    color: grey;
}
.about-right h2 {
    font-weight: 600;
}
.about-btns {
    display: flex;
    margin: 2rem 0;
}
.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    color: #fff;
}
.btn.btn-pink {
    background: grey;
    color: #fff;
    border-color: #fff;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-white {
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover {
    background: grey;
    border-color: #fff;
    color: #fff;
}
.about-para p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (max-width: 992px) {
    .about-wrapper {
        display: grid;
        .about-left {
            display: none;
        }
        .about-right {
            align-items: center;
        }
        grid-template-columns: repeat(1, 1fr);
    }

    .about-left {
        position: relative;
    }
    .about-left-content {
        position: absolute;
        width: 80%;
    }
}
@media screen and (min-width: 992px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-left {
        position: relative;
    }
    .about-left-content {
        position: absolute;
        width: 80%;
    }
}

/* EVENTS PAGE */

.event-container {
    /* Will figure out later */
}
.new-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    box-shadow: 0 30px 50px #dbdbdb;
}

.new-container .new-slide .new-item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    margin: 0 12%;

    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: contain;
    display: inline-block;
    transition: 0.5s;
}

.new-slide .new-item:nth-child(1),
.new-slide .new-item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.new-slide .new-item:nth-child(3) {
    left: 50%;
}
.new-slide .new-item:nth-child(4) {
    left: calc(50% + 220px);
}
.new-slide .new-item:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.new-slide .new-item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.new-item .new-content {
    position: absolute;
    top: 50%;
    margin-left: 18%;

    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.new-slide .new-item:nth-child(2) .new-content {
    display: block;
}

.new-content .new-name {
    text-align: center;
    width: auto;
    padding: auto;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: new-animate 1s ease-in-out 1 forwards;
    color: #fff;
    background-color: #000000c5;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px 100px 10px 0;
    border: 2px solid #fff;
    border-radius: 20px;
}

.new-content .new-des {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: new-animate 1s ease-in-out 0.3s 1 forwards;
    color: #fff;
    background-color: #000000c5;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px 100px 10px 0;
    border: 2px solid #fff;
    border-radius: 20px;
}

.new-content button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: new-animate 1s ease-in-out 0.6s 1 forwards;
    color: black;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.3s;
}
.new-content button:hover {
    padding: 10px 20px;
    transition: 0.3s;
}

@keyframes new-animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.new-button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}

.new-button button {
    width: 50px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.new-button button:hover {
    background: #ababab;
    color: #fff;
}

/* CONTACT PAGE*/

.contact-container {
    height: auto;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;

    background-color: hsl(210, 55%, 85%);
    background-image: linear-gradient(
        -360deg,
        hsl(0, 0%, 0%) 0%,
        hsl(210, 55%, 85%) 93.2%
    );
}
.container .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}
.row section.col {
    display: flex;
    flex-direction: column;
}
.row section.left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}
.row section.right {
    flex-basis: 60%;
}
section.left .contactTitle h2 {
    position: relative;
    font-size: 28px;
    color: #353535;
    display: inline-block;
    margin-bottom: 25px;
    padding-top: 110px;
}

section.left .contactTitle p {
    font-size: 17px;
    color: #353535;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}
section.left .contactInfo {
    margin-bottom: 16px;
}
.contactInfo .iconGroup {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}
.iconGroup .icon {
    width: 45px;
    height: 45px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}
.iconGroup .icon i {
    font-size: 20px;
    color: #080808;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.iconGroup .details span {
    display: block;
    color: #353535;
    font-size: 18px;
}
.iconGroup .details span:nth-child(1) {
    text-transform: uppercase;
    color: #000000;
}
section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}
.socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: rgb(34, 32, 32);
    transition: 0.4s;
}
.socialMedia a i {
    color: #ddd;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.4s;
}
.socialMedia a:hover {
    transform: translateY(-5px);
    background-color: #ffffff;
    color: grey;
    border: 1px solid grey;
}
.socialMedia a:hover i {
    color: rgb(0, 0, 0);
}

/* Code for the right section (column) */

.row section.right .messageForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.row section.right .inputGroup {
    margin: 18px 0px;
    position: relative;
}
.messageForm .halfWidth {
    flex-basis: 48%;
}
.messageForm .fullWidth {
    flex-basis: 100%;
}
.messageForm input,
.messageForm textarea {
    width: 100%;
    font-size: 18px;
    padding: 2px 0px;
    background-color: #2e2e2e;
    color: #ddd;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}
.messageForm textarea {
    resize: none;
    height: 220px;
    display: block;
}
textarea::-webkit-scrollbar {
    width: 5px;
}
textarea::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 15px;
}
.inputGroup label {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: #888;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;
}
.inputGroup:nth-child(4) label {
    top: 2px;
}
.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
    transform: translateY(-30px);
    font-size: 16px;
}
.inputGroup button {
    padding: 8px 16px;
    font-size: 18px;
    background-color: grey;
    color: #ddd;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
.inputGroup button:hover {
    background-color: #2e2e2e;
    color: grey;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid grey;
}
@media (min-width: 338px) {
    .contact-container {
        padding: 0px 10%;
    }
}
@media (max-width: 1100px) {
    .messageForm .halfWidth {
        flex-basis: 100%;
    }
}
@media (max-width: 900px) {
    .container .row {
        flex-wrap: wrap;
    }
    .row section.left,
    .row section.right {
        flex-basis: 100%;
        margin: 0px;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 305px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2rem;
    }
}

/* For taller devices */
@media screen and (min-width: 376px) and (min-height: 800px) {
    .home__container {
        padding-top: 10rem;
    }
    .home__images img {
        width: 700px;
        left: -12rem;
    }
}
/* For medium devices */
@media screen and (min-width: 480px) {
    .home__content {
        max-width: 305px;
    }
    .home__bird-2 {
        right: -3rem;
    }
    .home__images img {
        width: initial;
        left: 0;
    }
}
/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 5rem;
    }

    .nav__buttons {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__logo {
        width: 48px;
    }

    .home__content {
        max-width: 550px;
    }
    .home__data {
        row-gap: 1rem;
    }
    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .home__description {
        margin-bottom: 3rem;
    }
}

/* FOOTER FOR aLL PAGES */
.maintenance {
    text-align: center;
}

@media screen and (min-width: 1120px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1300px) {
    .home__container {
        height: 950px;
        padding-top: 10rem;
    }

    .home__bird-1,
    .home__bird-2 {
        width: 80px;
    }
    .home__bird-1 {
        bottom: -7rem;
        left: -7rem;
    }
    .home__bird-2 {
        top: 0;
        right: -6rem;
    }
    .home__images img {
        bottom: -3rem;
    }
    ::-webkit-scrollbar {
        width: 0.6rem;
        border-radius: 0.5rem;
        background-color: hsl(220, 24%, 15%);
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: hsl(220, 24%, 25%);
    }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) {
    .container {
        max-width: 1300px;
        width: 100%;
    }

    .home__container {
        height: 1200px;
        padding-top: 15rem;
    }
}
